<% provide(:title, 'Contact Us') %>

<header class="jumbotron_subhead" id="overview">
	<div class="container">
		<h1>Contact us</h1>
	</div>
</header>

<div class="container textarea">
	<div class="row">
	  <div class="span12 contact">
	  	<h2>Du möchtest ein Web-Projekt umsetzen!?</h2>
			<p>
			  Schreib uns doch einfach über Skype!<br>
			  Name: <b>rjjm2k</b><br>
			</p>
			<p>
				Oder schicke uns eine Email:<br>
				<b>rjjm2k@gmail.com</b>
			</p>
			<p>
				Wir freuen uns wirklich über deine Nachricht<br> und geben dir <b>rasch eine Antwort.</b>
			</p>
	  </div>
	</div>
</div>