<% provide(:title, 'Mitmachen') %>

<header class="jumbotron_subhead" id="overview">
	<div class="container">
		<h1>Mitmachen</h1>
	</div>
</header>

<div class="container textarea">
	<div class="row">
	  <div class="span12">
			<p>
			  Le Webdevelopers!
			</p>
	  </div>
	</div>
</div>