<% provide(:title, 'Finde deine Uni') %>

<header class="jumbotron_subhead" id="overview">
	<div class="container">
		<h1>Alle Universitäten</h1>
	</div>
</header>

<div class="container textarea">
	<div class="row">
	  <div class="span9 offset1">
			<%= will_paginate %>
				<ul class="users">
				  <% @users.find(:all, :conditions => ['uni = ?', true]).each do |user| %>
				    <%= render user %>
				  <% end %>
				</ul>
			<%= will_paginate %>	
	  </div>
	</div>
</div>