<% provide(:title, "Projekt erstellen") %>

<header class="jumbotron_subhead" id="overview">
  <div class="container">
    <h1>Projekt erstellen</h1>
  </div>
</header>

<%= render 'form' %>

<div class="container">
<div class="row">
  <div class="span6 offset3">
    <%= link_to 'Zurück', posts_path %>
  </div>
</div>
</div>