<footer class="footer">
  <div class="container">
    <small>
      <a href="http://seliegdesign.herokuapp.com/">Webdevelopment & Design</a>
      by SELIEG D-SIGN copyright 2012
    </small>
    <nav>
      <ul class="footer-rechts">
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "Impressum", impressum_path %></li>
      </ul>
    </nav>
  </div>
</footer>